.globalLoader{
  position: fixed;
  width: 110%;
  height: 110%;
  z-index: 9999;
  top: -5%;
  left: -5%;

  opacity: 0;
  visibility: hidden;

  background-color: rgba(#fff, 1);
  background-image: url(./images/loaderBig.svg);
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;

  transition: all 0.3s ease;

  &--active{
    opacity: 1;
    visibility: visible;
  }
}