@import './fonts/index';
@import './typography';
@import './links';

*, *:after, *:before{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body{
  position: relative;
  // background-image: url(./../images/4.jpg);
  background-image: url(./../images/10.jpg);
  // background-image: url(./../images/13.jpg);
  background-size: 1980px auto;
  background-repeat: no-repeat;
  background-position: 50% 0%;

  h1 {

  }

  h2 {
    
  }

  img {
    width: 100%;
  }
}
